html, body {
    overflow: hidden;
    background-color: #272c32;
    margin:0;
}
header img, h1{
    display: inline-block;
    width: 50%;
}
header img{padding: 10px;width: 100px;}
h1 {
    color: #fff;
    text-align: center;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
}
#radar-canvas {
    background-color: #272c32;
    text-align: center;
    float: right;
    margin-top: 150px;
    padding: 10px 40px 10px 20px;
    color: #fff;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
}