html, body {
    overflow: hidden;
    background-color: #272c32;
    margin:0;
}
header img, h1{
    display: inline-block;
    width: 50%;
}
header img{padding: 10px;width: 100px;}
h1 {
    color: #fff;
    text-align: center;
    font-family: Myriad Pro, Arial, Helvetica, sans-serif;
}
#radar-canvas {
    background-color: #21262d;
    text-align: center;
    float: right;
    margin-right: 30px;
    margin-top: 150px;
    padding: 10px 40px 40px 40px;
    border-radius: 50px;
    color: #fff;
    font-family: Myriad Pro, Arial, Helvetica, sans-serif;
}
/** d3 */
.nodes circle {
    fill:#00ff03;
    stroke: #00ff03;
    stroke-width: 1px;
}
.links line {
    stroke: #fff;
    stroke-width: 1px;
}